<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!-- ====== Android Test Cases ====== -->
  <test name="Android Tests">
    <classes>
      <class name="homeTestCases.navigationsAndroid"/>
      <class name="gamePage.clickingBrushOrFlossAndroid"/>
      <class name="LoginPage.LoginTestConsumerAndroid"/>
      <class name="SettingsPage.settingsTestCasesAndroid"/>
    </classes>
  </test>

  <!-- ====== iPhone Test Cases ====== -->
  <test name="iPhone Tests">
    <classes>
      <class name="homeTestCases.navigationsIphone"/>
      <class name="gamePage.clickingBrushOrFlossIphone"/>
      <class name="LoginPage.LoginTestConsumerIphone"/>
      <class name="SettingsPage.settingsTestCasesIphone"/>
    </classes>
  </test>
</suite> <!-- Suite -->
